
<%- include('./partials/header') %>
    <h2>User Routes</h2>
    <ul>
        <li>POST request:/user/login</li>
        <li>POST request:/user/register</li>

    </ul>
<%- include('./partials/footer') %>